# Flutter/Dart package .gitignore

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Conventional directory for build/coverage output
coverage/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# macOS
.DS_Store

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
